header {
    /* background-color: white; */
    background-color: #888888;
    width: 1280px;
}

.container {
    width: 1024px;
    margin: auto;
    padding: 20px 24px;
    background-color: white;
    border-bottom: 2px solid #bebebe;
    overflow: hidden;
}

img {
    display: block;
    width: 112px;
    height: 32px;
    object-fit: cover;
    float: left;
}


nav {
    display: block;
    float: right;
    position: relative;
    top: 50%;
}

a {
    text-transform: uppercase;
    background-color: transparent;
    color: #bebebe;
    size: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
}

.first-link {
    margin-left: 0px;
}

.last-link {
    margin-right: 0px;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}