body {
    font-family: "M PLUS Rounded 1c";
}

header {
    background-color: white;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    padding: 20px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #bebebe;
}

img {
    width: 112px;
    height: 32px;
    /* object-fit solo perché é fatto male l'svg */
    object-fit: cover;
}

nav {
    display: flex;
}

nav a {
    text-transform: uppercase;
    color: #bebebe;
    font-weight: 500;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
}

nav a:first-of-type {
    margin-left: 0;
}

nav a:last-of-type {
    margin-right: 0;
}

/* Non servono perché ho messo il font nel body */
/* .m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
} */

