body {
    font-family: "M PLUS Rounded 1c";
}

header {
    background-color: white;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #bebebe;
}

img {
    width: 112px;
    height: 32px;
    /* object-fit solo perché é fatto male l'svg */
    object-fit: cover;
    margin: 20px 24px;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
}

nav a {
    text-transform: uppercase;
    color: #bebebe;
    font-weight: 500;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s ease;
}

nav a:first-of-type {
    margin-left: 0;
}

nav a:last-of-type {
    margin-right: 0;
}

nav a:hover {
    border-bottom: 4px solid #00b2c2;
};




